:root {
    --wallHeight: 300px;
    --turnLeft: 0.06turn;
	--turnRight: -0.06turn;
	--turn: var(--turnRight);
}

* {
    padding: 0;
    margin: 0;
}

.header {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background-color: lightgray;
}

.frame {
    /* width: 1000px; */
    height: 600px;
    border-radius: 10px;
    background: hsl(0, 0%, 10%);
    overflow-y: scroll;
    perspective: 800px;
    perspective-origin: 50% 30%;
}

.building {
    margin: 0 auto;
    text-align: center;
    transform-style: preserve-3d;
}

.room {
    position: relative;
    height: var(--wallHeight);
    width: 90%;
    scroll-snap-align: center;
	transform-style: preserve-3d;
    margin: 0 auto;
    border: 20px solid hsl(0, 0%, 10%);
    border-left: 40px solid hsl(0, 0%, 10%);
    border-right: 40px solid hsl(0, 0%, 10%);
    /* box-sizing: border-box; */
}

.room:first-child {
    border-top: 40px solid hsl(0, 0%, 10%);
}

.room:last-child {
    border-bottom: 40px solid hsl(0, 0%, 10%);
}

.room::before, .room::after {
    content: '';
    position: absolute;
    left: 0;
    height: var(--wallHeight);
    width: 100%;
    backface-visibility: hidden;
}

.room::before {
    background-color: gray;
    transform: rotateX(-90deg);
    transform-origin: center top;
    background:
    radial-gradient(hsl(0 0% 100% / 30%), hsl(0 0% 0% / 70%)),
    url(../images/building/ceiling.jpg) no-repeat center / 100% 100%,
    rgb(38, 49, 49);
}

.room::after {
    bottom: 0;
    background-color: brown;
    transform: rotateX(90deg);
    transform-origin: center bottom;
    background:
		radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 30%)),
		url(../images/building/floor.jpg) center / cover,
		sandybrown;
}

.room-walls {
    position: absolute;
    height: var(--wallHeight);
    width: 100%;
    transform: translateZ(calc(var(--wallHeight) * -1));
    transform-style: preserve-3d;
    background:
		linear-gradient(to top, hsl(0 0% 60%) 2vh, transparent 0),
		radial-gradient(hsl(0 0% 0% / 10%), hsl(0 0% 0% / 60%)),
        url(../images/building/back_wall1.jpg) no-repeat top center / 100% 100%,
		lightgray;
}

.room-walls::before, .room-walls::after {
    content: '';
    position: absolute;
    background: lightgreen;
    height: 100%;
    width: var(--wallHeight);
    background:
    linear-gradient(to top, hsl(0 0% 75%) 2vh, transparent 0),
    radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 60%)),
    url(../images/building/side_wall.jpg) center / cover,
    gray;
}

.room-walls::before {
    right: 100%;
    transform: rotateY(90deg);
    transform-origin: right center;
}

.room-walls::after {
    left: 100%;
    transform: rotateY(-90deg);
    transform-origin: left center;
}

.room-content {
	display: grid;
	place-content: center;
	height: 100%;
	width: 100%;
	color: white;
	font-family: "Segoe UI", "Roboto", Arial, Helvetica, sans-serif;
	font-size: 4em;
	font-weight: 200;
	text-align: center;
	text-shadow: 0 3px 8px hsl(0 0% 0% / 80%);
	transform: translatez(-150px) rotatey(var(--turn));
    transition: .5s ease-in-out;
    cursor: default;
	box-sizing: border-box;
}

.room:nth-child(odd) > .room-content {
	--turn: var(--turnLeft);
}

.room-content:hover {
    transform: translatez(-150px) rotatey(var(--turnLeft));
}

.room:nth-child(odd) > .room-content:hover {
	transform: translatez(-150px) rotatey(var(--turnRight));
}