$dark: #07252C;
$semidark: #1B3F48;
$light: #a9c2c9;
$semilight: #58787F;
$mainback: #355962;
$accent: #58787F;
$light2: #BFB7AF;
$semilight2: #93897F;
$button: #93897F;
$bright: #20a9b3;
$max-width: 1200px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    // font-family: 'SF Pro Display', sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: $light;
    background: linear-gradient(to top, rgb(255, 255, 255) 5%, rgba(133, 247, 255, 0.3)), url('../images/e-shop/back3.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
header{
    background-color: $semidark;
    position: sticky;
    top: 0px;
    z-index: 5;
}
button, button:focus, button:hover, .buy-btn, .buy-btn:hover, .buy-btn:focus{
    outline: none;
    border: none;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header-content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    justify-content: space-between;
    color: $light;
    padding: 7px 40px;
    box-sizing: border-box;
}
.logo {
    cursor: pointer;
    height: 70px;
    background: url(../images/e-shop/logo2.png) no-repeat;
    flex-grow: 1;
}
.btn-cart, .btn-search {
    position: relative;
    background-color: $light;
    padding: 10px 20px;
    height: 40px;
    font-weight: bold;
    color: $semidark;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.btn-cart > i, .btn-search > i {
    margin-right: 12px;
}

.btn-cart:before {
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 5px 5px;
    height: 25px;
    min-width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    content: attr(data-counter);
    font-size: 12px;
    border-radius: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: tomato;
}
.btn-cart, .logo{
    align-self: center;
}
.btn-cart:hover, .btn-search:hover{
    background-color: #eee;
}

.products{
    column-gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: 1fr;
    padding: 0 40px;
    justify-content: center;
    max-width: $max-width;
    margin: 0 auto;
}
p {
    margin: 0 0 5px 0;
    color: $dark;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 15px rgba($dark, 0.3);
    transition: 0.3s ease-out;
    transition-delay: 0.2s;
}

.product-item:hover {
    transform: translate(0px, -10px) ;
    transition: 0.3s ease-out;
    box-shadow: 10px 10px 15px rgba($dark, 0.8);
}
.product-item, .product-item:focus, .product-item:hover{
    outline: none;
    border: none;
}

.product-item img {
    display: block;
    height: 200px;
    object-fit: contain;
    margin: 20px 0;
}

.layover {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

.desc {
    padding: 15px;
    background-color: $accent;
}

.desc h3 {
    color: $light;
    font-size: 1.4em;
    font-weight: normal;
    margin: 10px 0 20px 0;
    height: 28px;
    overflow: hidden;
}

.desc h3 > span {
    font-size: 0.8em;
    opacity: .5;
}
.category {
    color: $semilight;
}

.brand {
    font-size: 1.2em;
    opacity: .8;
}

.brand > span {
    font-size: 0.8em;
    opacity: .7;
}

.price {
    color: $light;
    font-weight: bold;
    font-size: 1.3em;
}
.header-right{
    display: flex;
    z-index: 100;
    text-align: right;

}
.cart-block{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    right: 15%;
    top: 100px;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 70%;
    z-index: 110;

    h2 {
        text-align: center;
    }
}

.cart-block-content {
    max-height: 60vh;
    overflow-y: auto;
}

.cart-total {
    font-size: 1.2em;
    text-align: center;
}

.cart-total span {
    font-weight: 700;
    font-size: 1.3em;
}

.cart-empty {
    margin: 20px 0;
    text-align: center;
    font-size: 1.4em;
}

.invisible{
    display: none;
}

.buy-btn, .minus-btn, .plus-btn{
    background-color: $semidark;
    padding: 5px 15px;
    color: $light;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.buy-btn {
    margin-left: 16px;
}

.item-total {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
}

.item-total > button > i {
    margin-right: 7px;
}

.del-btn {
    border: none;
    padding: 0;
    margin:0;
    width: 28px;
    height: 28px;
    color: tomato;
    background: transparent;
    border-radius:50%;
    font-size: 22px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.del-btn:hover {
    color: red;
}

.buy-btn:hover, .minus-btn:hover, .plus-btn:hover{
    background-color: $light;
    color: $dark;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item:last-child{
    margin-bottom: 40px;
}
.cart-item:first-child{
    margin-top: 20px;
}
.product-bio{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.cart-item-img{
    width: 60px;
    display: flex;
    justify-content: center;
}
.cart-item img{
    display: block;
    margin: 0 auto;
    height: 60px;
}

.product-single-price{
    color: #474747;
    font-size: 1em;
    margin-right: 30px;
}
.product-price{
    width: 15%;
    text-align: right;
}

.product-price>span {
    font-size: 1.2em;
    font-weight: 700;
}
.product-desc{
    width: 30%;
}
.product-quantity {
    font-size: 1.2em;
    margin: 0 10px;
}
.right-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16%;
}
.btn-search {
    margin-left: 16px;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.search-field:focus{
    outline: none;
    background-color: $light;
    &::placeholder {
        color: transparent;
    }
}
.search-field {
    box-sizing: border-box;
    min-width: 250px;
    max-width: 450px;
    height: 40px;
    color: $semidark;
    padding: 10px;
    background-color: $semilight;
    border: 1px solid $light;
    border-radius: 10px;
    &::placeholder {
        color: $semidark;
    }
}

.search-block {
    position: relative;
    display: flex;
    align-items: center;
}

.search-clear {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    background-color: transparent;
    color: $semidark;
    cursor: pointer;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
    background: transparent;
    font-size: 20px;
}

.message {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 100px;
    min-height: 150px;
    padding: 40px 20px 10px;
    text-align: center;
    font-size: 1.3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    z-index: 110;
}

@media screen and (max-width: 667px) {
    .products {
        column-gap: 20px;
        padding: 0 10px;
    }

    .pdoduct-item {
        width: 250px;
    }

    .product-single-price {
        display: none;
    }

    .minus-btn, .plus-btn{
        padding: 0px 5px;
    }

    .cart-block {
        right: 2%;
        width: 96%;
    }

    .product-desc {
        width: 20%;
    }

    .product-price {
        width: 20%;
    }

    .btn-cart {
        padding: 5px 10px;
    }

    .header-content {
        padding: 15px 15px;
    }

    .search-form {
        margin-right: 5px;
    }

    .search-field {
        min-width: 200px;
        padding: 5px 10px;
    }

    .btn-search {
        bottom: 2px;
    }
}
