.frame {
    background: #2e353d;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

button {
    width: 130px;
    padding: 15px;
    margin: 40px 10px;
    color: white;
    background: #007b32;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #009641;
}

button:active {
    background: #9cfb02;
    color: black;
}

#game {
    border-collapse: collapse;
}

#game-container {
    position: relative;
    margin-right: 50px;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #54595e;
}

.food {
    background: orangered;
}

.snakeBody {
    background: limegreen;
}

#message {
    position: absolute;
    text-align: center;
    color: orange;
    text-shadow: 0px 0px 10px orange;
    width: 240px;
    top: 37%;
    left: calc(50% - 120px);
    font-size: 3em;
    height: 80px;
    font-weight: bold;
    z-index: 10;
}

.score {
    font-size: 2em;
    padding-bottom: 32px;
}

.score > span {
    font-weight: bold;
}

#god-mode-checkbox {
    margin: 0 8px 0 0;
    width: 24px;
    height: 24px;
}

#god-mode-checkbox + span {
    vertical-align: top;
}

#speed-select, #length-select {
    display: block;
    margin: 32px auto 8px;
}

.tip > span {
    border: 1px #ffffffaa solid;
    border-radius: 6px;
    padding: 0 3px;
    display: inline-block;
    width: 20px;
}